:root {
    --dark: #111111;
    --white: #ffffff;
    --dark-grey: #737373;
    --gray: #cacacb;
    --light-gray: #EBEBEB;
    --background-gray: #F5F5F5;
    --text-gray: #737373;
    --font-family: "Poppins", sans-serif;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

*:hover {
    transition: all .2s ease-in-out;
}

ul, ol {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
    list-style: none;
}

p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    font-family: var(--font-family);
    color: var(--dark);
    background: var(--white);
}

h1,
.h1,
h2,
h3 {
    margin: 0;
}

h1,
.h1 {
    font-weight: 700;
}

h2,
h3 {
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}

input, button, textarea, select {
    font: inherit;
}

.container {
    width: 100%;
    margin: 0 auto;
}

.text-center {
    text-align: center;
}

.text-gray {
    color: var(--text-gray);
}

.bg-gray {
    background-color: var(--background-gray);
}

.btn {
    display: inline-block;
    padding: 16px 32px;
    height: 56px;
    background-color: var(--white);
    color: var(--dark);
    text-decoration: none;
}

.btn:hover {
    background-color: var(--light-gray);
}

.btn-black {
    background-color: var(--dark);
    color: var(--white);
}

.btn-black:hover {
    background-color: var(--dark-grey);
}

button {
    cursor: pointer;
    color: var(--dark);
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0;
}

.border-radius {
    border-radius: 8px;
}

.mt-60 {
    margin-top: 60px;
}

@media screen and (max-width: 767px) {
    body {
        font-size: 14px;
        line-height: 20px;
    }

    h1,
    .h1 {
        font-size: 30px;
        line-height: 36px;
    }

    h2 {
        font-size: 24px;
        line-height: 32px;
    }

    .padding-lr {
        padding: 0 16px;
    }
}

@media screen and (min-width: 768px) {
    body {
        font-size: 16px;
        line-height: 24px;
    }

    h1,
    .h1 {
        font-size: 48px;
        line-height: 48px;
    }

    h2 {
        font-size: 30px;
        line-height: 36px;
    }

    .container {
        max-width: 1440px;
    }

    .container-small {
        max-width: 872px;
    }

    .block-center {
        margin: 0 auto;
    }

    .padding-lr {
        padding: 0 60px;
    }
}
